@import url("https://fonts.googleapis.com/css?family=Anton|Lacquer|Saira+Semi+Condensed&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* polyfil for safari */
}

li {
  list-style: none;
}

/* header */
header {
  background: #f23005;
  height: 800px;
}

.navbar {
  font-family: "Saira Semi Condensed", sans-serif;
}
.navbar ul {
  display: flex;
  justify-content: flex-end;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li {
  padding: 20px;
}

nav ul li a {
  display: inline-block;
  padding: 0 2px;
}

nav ul li a:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  margin: 30px;
  color: #fff;
  cursor: pointer;
}

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.banner img {
  width: 350px;
  margin-top: 50px;
}

.brand-name {
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
  transform: (-50%, -50%);
  font-family: "Lacquer", sans-serif;
  font-size: 100px;
}

.brand-name span:not(:first-of-type) {
  color: #fff;
  font-size: 100px;
  transform: (-50%, -50%);
  position: absolute;
}

.brand-name span:nth-child(2) {
  top: 70%;
  left: 10%;
}

.brand-name span:last-child {
  top: 160%;
  left: 15%;
}

.info-container {
  display: flex;
  background: #f4f3f8;
  height: 100vh;
  font-family: "Anton", sans-serif;
}

.info-container .logo-2 {
  margin-left: 120px;
  margin-top: 150px;
}

.info-container .info {
  margin: 180px 100px 200px 300px;
}

.info-container .info h5 {
  margin-bottom: 30px;
  margin-left: 10px;
}
.info-container .info p {
  font-size: 12px;
  line-height: 20px;
  margin: 10px;
  font-size: 12px;
}
/* yeezy content */
.yeezy-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.yeezy-container img {
  width: 350px;
  margin: 100px 100px 0 100px;
}

.yeezy-container .yeezy-info {
  margin: 100px 100px 0 100px;
}

.yeezy-container .yeezy-info h5 {
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 30px;
}
.yeezy-container .yeezy-info p {
  padding: 10px;
  font-family: "Anton", sans-serif;
  font-size: 12px;
}

.yezzy-display {
  display: flex;
  margin-bottom: 100px;
}

.yezzy-2 img {
  width: 350px;
  margin-left: 100px;
}

.yezzy-3 img {
  width: 350px;
  margin-left: 210px;
  margin-top: 10px;
}

/* footer */

footer,
footer a {
  background: #f23005;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px 0;
  align-items: center;
}
footer .footer i {
  margin-left: 30px;
  cursor: pointer;
}

footer ul li {
  padding: 5px;
  cursor: pointer;
}

footer ul li a {
  text-decoration: none;
}

footer .social-list {
  margin-right: 30px;
  padding-top: 30px;
}

footer .social-list h5 {
  margin-left: 22px;
  margin-bottom: 7px;
}

footer p {
  margin-left: 20px;
  margin-bottom: 7px;
}
